button{
    background-color: #555555;
    color:#fff;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 250px;
    margin-left: 550px;
}
body{
    background-color: violet;
}